button {
    margin: 1rem;
    float: right;
}

ol { 
    padding-left: 2rem; 
}

.close-btn {
    margin: 0 1rem 0 0;
    padding: 1rem 2rem;
}

.scrollable{
    height: 400px;
    overflow-y: scroll;
}

.button-actions {
    position: relative;
    /* float: right; */
}